<!----<ng-select class="custom card1 mb-3 card1" [items]="posts" bindLabel="title"></ng-select>
<table class="table table-striped"> 
               
    <thead>
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of posts" id="{{data.id}}">
            <td><a href="#/userEdit/{{data.userId}}">{{data.userId}}</a></td>
            <td>{{data.id}}</td>
            <td>{{data.title}}</td>
            <td><a class="btn btn-success" >Edit</a>
                <button class="btn btn-success ml-2"  >View</button>
            </td>
        </tr>
    </tbody>
</table> -->
<accordion class="text-center" *ngFor="let data of posts" >
    <accordion-group heading='UserId:{{data.id}}'>
   <p> <span style="color:red">Id:</span><span>{{data.id}}</span>  </p>
   <p> <span style="color:red">UserId:</span><span>{{data.userId}}</span></p>
   <p>   <span style="color:red">Title:</span><span>{{data.title}}</span></p>
    </accordion-group>
  </accordion>



