ul{
    list-style:none;
    text-align: center;
    border-bottom: 1px solid darkblue;
    background-color: darkblue;
    li{
        display: inline-block;
        margin:20px;
       
    
      
     
    }
    a{
        color:white;
    }
}