<ng-select class="custom card1 mb-3" [items]=users bindLabel="name" bindValue="id" (change)="change($event)"></ng-select>


        <table class="table table-striped"> 
               
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of users">
                        <td><a href="#/userEdit/{{data.id}}">{{data.id}}</a></td>
                        <td   tooltip="{{data.name}}">{{data.name}}</td>
                        <td  popover="{{data.email}}">{{data.email}}</td>
                        <td><a class="btn btn-success" (click)="Modal(template1)" >Edit</a>
                            <button class="btn btn-success ml-2" routerLink="/view" >View</button>
                           
                              <ng-template #template1>
                                <div class="modal-header">
                                        <h4 class="modal-title pull-left">User Edit Information form</h4>
                                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                           <div>
                                               <label>name</label>
                                               <input type="text" value="{{data.name}}" >
                                           </div>
                                           <div>
                                               <label>email</label>
                                               <input type="email" value="{{data.email}}">
                                           </div>
                                           <button class="btn btn-success">Update</button>
                                           <button class="btn btn-success ml-3">Cancel</button>
                                      </div>
                           
                                
                        
                            
                          </ng-template>
                      
                           
                        </td>
                    </tr>
                </tbody>
            </table>
           